.c3{
    position: absolute;
    display: none;
}
.c3 a{
    background-color: burlywood;
    display: block;
    padding: 20px 46px;
    text-decoration: none;
    color: black;
    
}
.c2 {
    border: none;
    padding: 20px 60px;
    background-color: blue;
}
.c1:hover .c3 {
    display: block;
}